[Unit]
Description=MQTT Server
After=network.target

[Service]
ExecStart=/home/g21081010064/mqtt-server
Restart=always
User=g21081010064
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target