[Unit]
Description=Run backend-server and mqtt-server
After=network.target

[Service]
ExecStart=/home/g21081010064/run-services.sh
Restart=always
User=g21081010064
Group=g21081010064

[Install]
WantedBy=multi-user.target
